<div class="navtab-container">
<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/home" routerLinkActive #lra="routerLinkActive" [active]='lra.isActive'>
     home
    </a>
    <a mat-tab-link routerLink="/accomdation" routerLinkActive #lra="routerLinkActive" [active]='lra.isActive'>
        accomdation
       </a>
</nav>
</div>