<mat-toolbar color="primary">
<div>
    <button mat-icon-button (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>
</div>

    <div class="logo-container">
    <div fxLayout="column" fxLayoutAlign="center center">
        <span class="mat-display-2">Hello, Lemonite!</span>
      </div>
      </div>
      


</mat-toolbar>
