<mat-sidenav-container class="example-container">
  <mat-sidenav #sideNav>
    <app-sidenav-list (closeSideNav)="sideNav.toggle()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggleSideNavList)="sideNav.toggle()"></app-header>
    <app-navtabs></app-navtabs>
    <main>
<router-outlet></router-outlet>
</main>

  </mat-sidenav-content>
</mat-sidenav-container>

