@import '~@angular/material/theming';
@include mat-core();
$candy-app-primary: mat-palette($mat-teal,200);
$candy-app-accent:  mat-palette($mat-teal,50);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

.navtab-container{
    background-color:mat-color($candy-app-primary);
}