<div class="container">
    <div class="book-now-container">
        <div class="book-button" flex fxLayoutAlign="flex-end">
         <button  mat-stroked-button	class="primary">Book Now</button>
        </div>
    </div>

    <div class="header-container">
      <div class="middleText" flex fxLayoutAlign="center center">
        <div>Hotel with beach Layout</div>
      </div>
    </div>
</div>
